* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #DA22FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Navbar-------------------------------- */

header {
    background: #9733EE;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(14, 30, 37, 0.32);
    position: sticky;
    top: 0;
    z-index: 0000;
}

.home-and-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.contain-home {
    font-size: xx-large;
}

.home-button {
    color: white;
    cursor: pointer;
}

.home-button:hover {
    color: rgb(240, 240, 240);
}

.logo-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.logo-image #logo {
    padding: 3px;
    width: 45px;
}

.logo-image span {
    margin-left: 10px;
    font-weight: 700;
    font-size: larger;
    color: white;
}

.form {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

header .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quiz-btn,
.create-btn {
    background: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
    color: #1d2570;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


/* container--------- */

.container {
    width: 100%;
    margin: auto;
}


/* background  */

.banner {
    width: 60%;
    height: 450px;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
    background-image: url(../images/feature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner span {
    font-weight: bold;
    font-size: 30px;
    color: #1d2570;
    margin-top: 20px;
}

.btn-create-newQues {
    width: 25%;
    padding: 10px 15px 10px 15px;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
    border: none;
    background: #DA22FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9733EE, #DA22FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9733EE, #DA22FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}

.btn-create-newQues:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 32px;
}


/* question form ---------------------- */

.header-form {
    border-radius: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 4px 4px 7px rgba(14, 30, 37, 0.32);
}

h2 {
    border-radius: 10px 10px 0 0;
    color: #fff;
    background: #DA22FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9733EE, #DA22FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9733EE, #DA22FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}

#title {
    width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(192, 192, 192);
}

#title:focus {
    border-bottom: 1px solid #DA22FF;
}

.define {
    display: flex;
    justify-content: space-between;
}

.define #score {
    width: 30px;
}

.label-answer {
    display: flex;
    justify-content: space-between;
}

.label-answer #score {
    width: 30px;
    outline: none;
}

#body-form {
    margin-top: 20px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    border-left: 8px solid #DA22FF;
    border-radius: 10px;
    color: #1d2570;
    font-size: 15px;
    font-weight: 550;
    box-shadow: 4px 4px 7px rgba(14, 30, 37, 0.32);
}

#question-input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 8px;
    margin: 10px 0;
    border-bottom: 1px solid rgb(192, 192, 192);
}

input[name="question"] {
    background-color: rgba(255, 255, 255, 0);
}

#question-input:focus {
    border-bottom: 1px solid #DA22FF;
}

input[name="inputAnswer"] {
    border: none;
    outline: none;
    width: 95%;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px 0;
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(192, 192, 192);
}

input[name="inputAnswer"]:focus {
    border-bottom: 1px solid #DA22FF;
}

.footer-form {
    margin-top: 10px;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#add,
#edits {
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    background-color: #9733EE;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#add:hover {
    background-color: #852ed1;
}


/* ------------------------------------ */


/* edit question  */

ul {
    width: 100%;
}

.detail-card {
    background: white;
    color: black;
    box-shadow: 3px 3px 7px rgba(14, 30, 37, 0.32);
    border-radius: 5px;
}

.contain-quest ul .about-question {
    padding: 10px 20px;
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 5px 5px 0 0;
    color: white;
    background-color: #1d2570;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    list-style-type: none;
}

.answer-detail {
    width: 100%;
    padding: 7px 0 15px 0;
    font-size: 15px;
}

.li-answer {
    margin: auto;
    padding: 5px 7px 5px 7px;
    width: 90%;
}

.li-answer span {
    margin-left: 10px;
}

.contant-qus {
    width: 70%;
}

.score {
    width: 20%;
}

.editer {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    cursor: pointer;
}

.delete:hover {
    color: #9733EE;
}

.edit:hover {
    color: #9733EE;
}

h3 {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: larger;
    color: white;
    width: 60%;
}


/* display quiz */

.display-quiz {
    width: 100%;
    margin: auto;
}

.dis-quiz-title {
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9733EE;
    box-shadow: 0px 2px 5px rgba(14, 30, 37, 0.32);
}

.dis-quiz-title .contain-home {
    width: 5%;
    margin-left: 20px;
}

.empty-ele {
    width: 5%;
}

.dis-quiz-title span {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 5px;
}


/* question and answer */

.question-answer-block {
    margin: auto;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #DA22FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9733EE, #DA22FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9733EE, #DA22FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
    margin-top: 10px;
}

.show-question {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dis-question {
    font-weight: bolder;
    color: white;
    font-size: 27px;
}

.bottom-side {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 90%;
    box-sizing: border-box;
}

.anAnswer {
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    padding: 0 20px 0 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    justify-content: center;
    background-color: #1d2570;
    border-radius: 60px;
}

.quiz-btn-container {
    width: 80%;
    margin: auto;
    text-align: end;
}

.quiz-btn-next {
    padding: 13px 45px 13px 45px;
    border: none;
    background-color: #1d2570;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.quiz-btn-next:hover {
    background-color: #171e5c;
}

.complete-question {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}

.complete-question span {
    color: white;
    font-size: 27px;
    font-weight: bold;
}


/* DISPLAY SCORE */

.display-score {
    width: 60%;
    margin: auto;
    background: #1d2570;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 7px;
}

.text-score,
.your-scores {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

.text-score {
    margin-left: 20px;
}

.your-scores {
    margin-right: 20px;
}


/* DISPLAY GOOD/BAD ANSWER */

.correction {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.result {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.815);
    border-top: 8px solid #1d2570;
    border-radius: 7px 7px 7px 7px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.c-quest {
    display: flex;
    justify-content: space-between;
}

.contain-answer {
    width: 100%;
    margin-top: 10px;
}

.contain-answer .correction-answer {
    list-style: none;
    padding: 8px 20px;
}

.text-answer {
    margin-left: 20px;
}


/* button home and play again */

.options {
    width: 100%;
    margin: auto;
    text-align: right;
    margin-top: 20px;
}

.btn-home,
.btn-play-again {
    margin: auto;
    padding: 13px 45px 13px 45px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #1d2570;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}